@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

#banner {
    position: relative;
}

img.banner{
    width: 100%;
    object-fit: cover;
    height: 80vh;
   }
.fade-effect {
    background: rgb(47, 155, 255, 0.8); 
    width: 50%; 
    
    height: 80vh;
    color: white;
    font-size: 3em;
    font-weight: 900;
}
.button-search, .button-information {
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #2F9BFE;
  }
  .button-search:hover, .button-information:hover {
    background-color: #384bf3;
    color: #fff;
  }
  .button-search:active, .button-information:active {
    color: #fff;
    top: 2px;
    
  }
.footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    align-self: center;
}
.button-login {
    background-color:#55E2C0;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px #0000001a, 4px 4px 5px 0px rgba(0,0,0,.1);
}
.button-login:hover {
    background-color: #15c49b;
}

.button-logout {
    background-color:#505feb;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}
.button-logout:hover {
    background-color:#2134e7;
}

.navClase{
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.navClase i{
    font-size: 1rem;
    
}

.navClase a{
    text-decoration: none;
    border-radius: 1.5rem;
    color: #55E2C0;
}

.navClase ul li a:hover{
    border-radius: 1.5rem;
    color: rgb(207, 207, 207);
   text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #55E2C0, 0 0 30px #55E2C0, 0 0 40px #55E2C0, 0 0 55px #55E2C0, 0 0 75px #55E2C0, -40px -40px 0px rgba(85,226,192,0);
    }

.circle{
    border-radius: 100%;
}

.button-add-home {
        min-width: 200px;
        height: 60px;
        color: #fff;
        padding: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, #55E2C0 0%, #2F9BFE 75%);
}
      

.button-add-home:hover {
        background-position: right center;
        color: white;
}
.button-add-home:active {
        top: 2px;
}

.button-edit {
        min-width: 70px;
        height: 40px;
        color: #fff;
        padding: 10px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #55E2C0;
        box-shadow: 0 5px #4abba1;
      }
      .button-edit:hover {
        box-shadow: 0 3px #3ca578;
        top: 1px;
        color: white
      }
      .button-edit:active {
        box-shadow: 0 0 #1db491;
        top: 5px;
}

.button-delete {
        min-width: 70px;
        height: 40px;
        color: #fff;
        padding: 10px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #e23d61;
        box-shadow: 0 5px #c02b4b;
      }
.button-delete:hover {
        box-shadow: 0 3px #a02540;
        top: 1px;
        color: white
      }
.button-delete:active {
        box-shadow: 0 0 #e93058;
        top: 5px;
}


