
#banner {
    position: relative;
}

img.banner{
    width: 100%;
    object-fit: cover;
    height: 80vh;
   }
.fade-effect {
    background: rgb(47, 155, 255, 0.8); 
    width: 50%; 
    
    height: 80vh;
    color: white;
    font-size: 3em;
    font-weight: 900;
}

.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    align-self: center;
}
