<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<header th:replace="fragments/header"></header>

<main>

    <section id="banner">
        <img th:src="@{/img/foto.jpg}" class="img-fluid banner" alt="foto de una casa con piscina">

        <div class="fade-effect position-absolute top-0 end-0 d-flex flex-row-reverse bd-highlight">
            <h2 class="d-flex align-items-center display-1 text-center me-3">Encuentra tu casa ideal</h2>
        </div>

    </section>

    <section class="container mb-5">

        <h1 class="titleadd" style="text-align: center" th:text="${title}"></h1>


        <div class="d-flex flex-row flex-wrap justify-content-center bd-highlight">
            <div th:each="goHome: ${homes}" class="card block m-3" style="width: 30rem; height: 30rem; box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);">
                <a class="h-50" th:href="'/homes/detalles/'+${goHome.id}"><img th:src="${goHome.image}"
                                                                               class="card-img-top h-100"
                                                                               alt="cover"></a>
                <div class="block_body block_body_cat">
                    <h5 class="card-title ml-1 "><i class="bi bi-house-fill"></i> [[${goHome.title}]]</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li th:text="${goHome.id}" class="list-group-item item-all" style="display:none;"></li>
                        <li th:text="${goHome.description}" class="list-group-item item-all"></li>
                        <li class="list-group-item item-all"><i class="bi bi-currency-euro"></i> [[${goHome.price}]]
                            <i class="bi bi-grid-3x3"></i> [[${goHome.surface}]] m<sup>2</sup>. <img
                                    th:src="@{/img/cama.png}" width="20rem"> [[${goHome.bedrooms}]].
                        </li>
                    </ul>
                    <div class="text-center">
                        <a class="btn btn-sm my-2 mb-5 button-information edit-btn" href="/homes/info">Información</a>
                    </div>

                </div>
            </div>

        </div>


    </section>

</main>

<footer th:replace="fragments/footer"></footer>
</body>

</html>