<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<h1 class="text-center"> [[${titulo}]]</h1>
<div class="card my-5 container " width="100%">
    <div class="row g-0">

        <div class="col-md-6">
            <div class="card-body">
                <h2> [[${Detail.title}]]</h2>
                <h5 class="card-title">Descripción</h5>
                <p class="card-text" th:text="${Detail.description}"></p>
                <h5>Precio : <i class="bi bi-currency-euro"></i> [[${Detail.price}]]</h5>
                <h5>Superficie : <i class="bi bi-grid-3x3"></i> [[${Detail.surface}]] m<sup>2</sup></h5>
                <h5 class="d-flex align-content-center ">Habitaciones : <img class="mx-2" th:src="@{/img/cama.png}"
                                                                             width="22rem"> [[${Detail.bedrooms}]]</h5>
                <div class="text-center">
                    <a class="btn btn-outline-warning btn-sm mb-5 mt-5 edit-btn" href="/homes/info">Información</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img th:src="${Detail.image}" width="100%" class="img-fluid rounded-start " alt="...">

        </div>

    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img th:src="${Detail.image}" width="100%" class="img-fluid rounded-start " alt="...">

    </div>
</div>

<br>
<br>
<br>
<footer th:replace="fragments/footer"></footer>

</body>

</html>