<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<h1 class="titleadd" style="text-align: center" th:text="${title}"></h1>
<section class="container">
    <form th:action="@{/homes/new}" th:object="${goHome}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label class="col-md2" for="title">Título</label>
            <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title">
        </div>
        <div class="form-group">
            <label class="col-md2" for="image">URL de la Imagen</label>
            <input th:field="*{image}" type="text" class="col-md6 form-control form-control-sm" id="image">
        </div>
        <div class="form-group">
            <label class="col-md2" for="price">Precio</label>
            <input th:field="*{price}" type="text" class="col-md6 form-control form-control-sm" id="price">

        </div>
        <div class="form-group">
            <label class="col-md2" for="surface">Superficie</label>
            <input th:field="*{surface} "type="text" class="col-md6 form-control form-control-sm" id="surface">
        </div>
        <div class="form-group">
            <label class="col-md2" for="description">Descripción</label>
            <input th:field="*{description} "type="text" class="col-md6 form-control form-control-sm" id="description">
        </div>
        <div class="form-group">
            <label class="col-md2" for="category">Habitaciones</label>
            <select th:field="*{bedrooms}" type="text" class="col-md6 form-control form-control-sm" id="category">
                <option th:each="category: ${categories}"
                        th:value="${category.name}"
                        th:text="${category.name}"
                >
                </option>
            </select>
        </div>
        <div class="card-footer ">
            <input type="submit" class="btn btn-primary btn-sm" value="Guardar"/>
        </div>
    </form>
</section>

<footer th:replace="fragments/footer"></footer>
</body>
</html>